config.js
.DS_Store
node_modules/.package-lock.json
node_modules/node-fetch/browser.js
node_modules/node-fetch/LICENSE.md
node_modules/node-fetch/package.json
node_modules/node-fetch/README.md
node_modules/node-fetch/lib/index.es.js
node_modules/node-fetch/lib/index.js
node_modules/node-fetch/lib/index.mjs
node_modules/tmi.js/index.js
node_modules/tmi.js/LICENSE
node_modules/tmi.js/package.json
node_modules/tmi.js/README.md
node_modules/tmi.js/lib/api.js
node_modules/tmi.js/lib/client.js
node_modules/tmi.js/lib/commands.js
node_modules/tmi.js/lib/events.js
node_modules/tmi.js/lib/logger.js
node_modules/tmi.js/lib/parser.js
node_modules/tmi.js/lib/timer.js
node_modules/tmi.js/lib/utils.js
node_modules/tr46/.npmignore
node_modules/tr46/index.js
node_modules/tr46/package.json
node_modules/tr46/lib/.gitkeep
node_modules/tr46/lib/mappingTable.json
node_modules/webidl-conversions/LICENSE.md
node_modules/webidl-conversions/package.json
node_modules/webidl-conversions/README.md
node_modules/webidl-conversions/lib/index.js
node_modules/whatwg-url/LICENSE.txt
node_modules/whatwg-url/package.json
node_modules/whatwg-url/README.md
node_modules/whatwg-url/lib/public-api.js
node_modules/whatwg-url/lib/URL-impl.js
node_modules/whatwg-url/lib/url-state-machine.js
node_modules/whatwg-url/lib/URL.js
node_modules/whatwg-url/lib/utils.js
node_modules/ws/browser.js
node_modules/ws/index.js
node_modules/ws/LICENSE
node_modules/ws/package.json
node_modules/ws/README.md
node_modules/ws/wrapper.mjs
node_modules/ws/lib/buffer-util.js
node_modules/ws/lib/constants.js
node_modules/ws/lib/event-target.js
node_modules/ws/lib/extension.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/subprotocol.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/twitch-bot.iml
tempCodeRunnerFile.js
